.catagory{
    width: 350px;
    height: 350px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0 0 0 0.2);
}
.catagory img{
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    padding: 0px 10px;
}
.catagory a{
    text-decoration: none;
    color: rgba(35, 35, 35);
}
.catagory h2,
.catagory p{
    padding: 5px;
    margin-left: 15px;

}
.catagory p{
    font-size: 12px;
    font-weight: bold;
    color: rgba(9,132,209);
}
.catagory_container{
    position: relative;
    margin-top: -10%;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    place-items: center;
}